* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#translator__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#translator__container > * {
  padding: 10px;
}
#translator__container button {
  margin: 10px;
}